Body{
    background-color: rgb(135,206,235);
    border-style: solid;
    border-color: #48cd31;
    border-width: thick;
    text-align: center;
    padding-right: 50px;    
    margin: 3%;
    padding-bottom: 75px;
}
section>h1{
    color: white;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-size: xx-large
}
span{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: Bold 700;
}
section>span{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight: Bold 900;
    padding-left: 50px;
    font-size: 24px;
    float: left;
}
P{
    color:white;
    font-size: 21px;
    padding: 40px;
    text-align: left;
    justify-content: center;
    line-height: 130%;
}

/*try to share the server also*/
.logo{
    width: 225px;
    height: 300px;
    float: right;
    shape-outside: url(logo.png);
    margin-left: 30px;
    shape-margin: 40px;
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 50px;
}
a{
    color: #48cd31;
    font-family: 'Poppins', sans-serif;
    font-weight: Bold 700;
}